<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      My Medications
    </ion-title>
    <ion-button id="open-modal-btn" slot="end">
      <ion-icon name="add-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">My Medications</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    @for (med of medications; track med.name; let index = $index) {
      <ion-item>
        <ion-label>
          <h2>{{ med.name }}</h2>
          <p>{{ med.dosage }} at {{ med.time }}</p>
        </ion-label>
        <ion-button (click)="confirmDelete(index, med.name)" color="danger">
          <ion-icon name="remove-circle-outline">
          </ion-icon>
        </ion-button>
      </ion-item>
    }
    @if (medications.length == 0) {
      <p class="ion-padding">You currently have no tracked medications.</p>
    }
  </ion-list>

  <ion-alert
    #deleteAlert
    header="Delete Medication"
    message="Are you sure you want to delete {{deleteMedName}} from your medication list?"
    [buttons]="alertButtons"
  ></ion-alert>

  <ion-modal trigger="open-modal-btn" #modal>
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="modal.dismiss()">
              Cancel
            </ion-button>
          </ion-buttons>
          <ion-title>
            Medication Info
          </ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="saveMedication()">
              Save
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-input
            [(ngModel)]="newMedName"
            label="Name of medication:"
            type="text"
          >
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-input
            [(ngModel)]="newMedDosage"
            label="Dosage amount:"
            type="text"
          >
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-input
            [(ngModel)]="newMedTime"
            label="When to take:"
            type="text"
          >
          </ion-input>
        </ion-item>
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>
