<ion-header [translucent]="true">
  <ion-toolbar class="ion-padding" mode="ios">
      <ion-button class="circular-btn" slot="start" (click)="previousDay()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
      <ion-title class="ion-text-center" size="large">{{computedDate}}</ion-title>
      <ion-button class="circular-btn" slot="end" (click)="nextDay()">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    @for (med of sortedMedications; track med.name) {
      <ion-item class="med-item">
        <p slot="start">{{med.time}}</p>
        <p slot="start">{{med.name}}</p>
        <p slot="end">{{med.dosage}}</p>
        <ion-chip slot="end">Not taken</ion-chip>
      </ion-item>
    }
    @if (sortedMedications.length == 0) {
      <p class="ion-padding">No medications scheduled for this day.</p>
    }
  </ion-list>
</ion-content>
